* {
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

body {
    font-size: 16px;
}

/* navegation */

header {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 6vh;
}

#logo {
    width: 75px;
    padding: 16px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-inline: 16px;
}

a {
    text-decoration: none;
    color: #000;
}

label[for="bt_menu"], #bt_menu {
    display: none;
}

/* content */

main {
    background: linear-gradient(180deg, #ffc8dc 10.58%, #d8d1e5 61.96%, #aee1fb 100%);
    display: flex;
    justify-content: center;
    min-height: 84vh;
}

fieldset {
    border: none;
}

#text h1 {
    font-size: 20px;
    color: #e5487b;
}

#text img {
    width: 70px;
    height: 70px;
}

#campaigns {
    display: flex;
    justify-content: left;
}

#campaigns .flat-container {
    margin-right: 32px;
}

#partners, #contact {
    text-align: center;
}

#partners #block1, #contact #block1 {
    width: 100px;
}

#partners img, #contact img {
    border-radius: 50%;
}

#counter {
    color: #fff;
}

#counter img {
    filter: grayscale(100%);
}

#text, #counter {
    width: 100%;
    margin: 5%;
}

#families-welcomed {
    text-align: center;
}

h1, main p, button {
    padding-bottom: 3%;
}

/* footer */

footer {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

/* components */

.flat-container {
    background-color: #fff;
    text-align: center;
    padding: 2%;
    border-radius: 0.5em;
    width: 212px;
    height: 330px;
}

.rounded-button {
    background-color: #fff;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* forms */

input {
    background-color: transparent;
    border-style: solid;
    border-color: #0071b7;
    padding-block: 1%;
    padding-inline: 2%;
    margin-bottom: 3.5%;
    border-radius: 0.5em;
    width: 100%;
}

#text button {
    background-color: #0071b7;
    border: none;
    padding-block: 0.75em;
    padding-inline: 2em;
    border-radius: 2em;
    color: #fff;
    cursor: pointer;
}

/* floating action button */

.fab-container button, .fab-container fieldset {
    position: fixed;
    bottom: 7vh;
    right: 2vh;
}

.fab-container fieldset {
    display: none;
}

/* vlibras */

.enabled {
    padding-right: 2vh;
}

/* responsiveness */

@media screen and (max-width: 740px) {
    nav {
        justify-content: left;
    }

    .pages {
        display: none;
    }

    label[for="bt_menu"] {
        display: block;
        margin: 2%;
    }

    #bt_menu:checked ~ .pages {
        position: absolute;
        display: block;
        background-color: #fff;
        width: 100%;
        top: 11vh;
    }

    .pages li {
        padding: 16px;
    }
}
